# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
demo-pages/dist
*.local
bin/

test-shared/*.js
test-shared/*.d.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

**/test-results/
playwright-report/
.cache/
.test-cache-*/

artifacts/

test_results/

.wasm-build/
*.wasm
